.reservation {
  display: flex;
  align-items: center;
  flex-direction: column;
}
table {
  background-color: rgb(211, 210, 210);
  border: solid 4px black;
  width: 30%;
}
.td1 {
  width: 45%;
  font-style: italic;
}
.td2 {
  font-weight: bold;
}
td {
  padding-left: 3%;
  padding-top: 1.5%;
}
.td3 {
  width: 45%;
  font-style: italic;
  padding-top: 7%;
}
.td4 {
  font-weight: bold;
  padding-top: 7%;
}
