#logo{
    width: 15%;
}

#enTete{
    background-image:url('../../assets/images/fond.png');
}

.flexLigne{
    display: flex;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}
#header a {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
    color: white;
  }


  #recapResaDiv{
    flex-direction: column;
    border: 2px solid green;
    display: flex;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    z-index: 2;
    width: 50%;
    background-color: beige;
  }

  body{
    background-color: #fae5bf;
}

#coordonnees label{
    display: block;
}

@media only screen and (max-width: 425px) {
    #logo {
        display: none;
    }
    #recapResaDiv{
        width: 90%;
    }
}